## Import Statements

In [1]:
import pandas as pd

## Load data from specific file

In [2]:
csv_file = "../../files/amazon.csv"  # Ersetzen Sie durch den Pfad zu Ihrer CSV-Datei
df = pd.read_csv(csv_file)

In [3]:
df.head()

,ID,Text,Is_Activism,Category,Post_Id,Like_Count
0,1,#adidasstealfromitsworkers STOP DOING WAGE THE...,False,None,Cu4Qupou_H0,13
1,2,PAY until they can't look away #payyourworkers,False,None,Cu4Qupou_H0,8
2,3,i wish adidas at least stopped using kangaroo ...,False,None,Cu4Qupou_H0,24
3,4,Jenna and Messi üôèüèΩüëåüèΩ,False,None,Cu4Qupou_H0,88
4,5,Stop kangaroo massacre!,False,None,Cu4Qupou_H0,28

## Get Likecount of each category

In [7]:
# Gruppieren nach der Kategorie und Aggregieren der gew√ºnschten Werte
result = df.groupby('Category').agg({'Text': 'count', 'Like_Count': 'sum'}).reset_index()
result.columns = ['Kategorie', 'Anzahl Kommentare', 'Gesamter Like Count']

       Kategorie  Anzahl Kommentare  Gesamter Like Count
0  Environmental               1143                10132
1           None               1186                 3682

In [8]:
result

       Kategorie  Anzahl Kommentare  Gesamter Like Count
0  Environmental               1143                10132
1           None               1186                 3682